<a href="https://colab.research.google.com/github/divyansh25-dev/datasciencecoursera/blob/main/Indian_team_performance_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/ContinousDataset.csv')

In [ ]:
df

      Unnamed: 0   Scorecard  ... Innings_Team2       Winner
0              0     ODI # 1  ...         First    Australia
1              1     ODI # 2  ...         First      England
2              2     ODI # 3  ...        Second    Australia
3              3     ODI # 4  ...         First      England
4              4     ODI # 5  ...        Second  New Zealand
...          ...         ...  ...           ...          ...
7489        3747  ODI # 3931  ...        Second        India
7490        3748  ODI # 3932  ...         First        India
7491        3749  ODI # 3933  ...         First      Namibia
7492        3750  ODI # 3934  ...         First       U.S.A.
7493        3749  ODI # 3935  ...         First  East Africa

[7494 rows x 12 columns]

In [ ]:
size_mapping = {'Margin':{'Winner2ndInning':0,'Winner1stInning':1},
                'Innings_Team1':{'Second':1,'First':0},'Innings_Team2':{'Second':1,'First':0}
                }
df.replace(size_mapping,inplace= True)
df

      Unnamed: 0   Scorecard  ... Innings_Team2       Winner
0              0     ODI # 1  ...             0    Australia
1              1     ODI # 2  ...             0      England
2              2     ODI # 3  ...             1    Australia
3              3     ODI # 4  ...             0      England
4              4     ODI # 5  ...             1  New Zealand
...          ...         ...  ...           ...          ...
7489        3747  ODI # 3931  ...             1        India
7490        3748  ODI # 3932  ...             0        India
7491        3749  ODI # 3933  ...             0      Namibia
7492        3750  ODI # 3934  ...             0       U.S.A.
7493        3749  ODI # 3935  ...             0  East Africa

[7494 rows x 12 columns]

In [ ]:

def j(dx,variable,top_x_label):
  for label in top_x_label:
    dx[variable+'_'+label]=np.where(dx[variable]==label,1,0)

In [ ]:
df

      Unnamed: 0   Scorecard  ... Innings_Team2       Winner
0              0     ODI # 1  ...             0    Australia
1              1     ODI # 2  ...             0      England
2              2     ODI # 3  ...             1    Australia
3              3     ODI # 4  ...             0      England
4              4     ODI # 5  ...             1  New Zealand
...          ...         ...  ...           ...          ...
7489        3747  ODI # 3931  ...             1        India
7490        3748  ODI # 3932  ...             0        India
7491        3749  ODI # 3933  ...             0      Namibia
7492        3750  ODI # 3934  ...             0       U.S.A.
7493        3749  ODI # 3935  ...             0  East Africa

[7494 rows x 12 columns]

In [ ]:
top_10 = [x for x in df['Team 1'].value_counts().sort_values(ascending=False).head(10).index]
top_10

['India',
 'Australia',
 'Pakistan',
 'Sri Lanka',
 'West Indies',
 'New Zealand',
 'England',
 'South Africa',
 'Zimbabwe',
 'Bangladesh']

In [ ]:
j(df,'Team 1',top_10)

In [ ]:
j(df,'Team 2',top_10)

In [ ]:
df

      Unnamed: 0   Scorecard  ... Team 2_Zimbabwe Team 2_Bangladesh
0              0     ODI # 1  ...               0                 0
1              1     ODI # 2  ...               0                 0
2              2     ODI # 3  ...               0                 0
3              3     ODI # 4  ...               0                 0
4              4     ODI # 5  ...               0                 0
...          ...         ...  ...             ...               ...
7489        3747  ODI # 3931  ...               0                 0
7490        3748  ODI # 3932  ...               0                 0
7491        3749  ODI # 3933  ...               0                 0
7492        3750  ODI # 3934  ...               0                 0
7493        3749  ODI # 3935  ...               0                 0

[7494 rows x 32 columns]

In [ ]:
top_11 = [x for x in df['Host_Country'].value_counts().sort_values(ascending=False).head(11).index]
top_11

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'U.A.E.',
 'West Indies',
 'Sri Lanka',
 'Zimbabwe',
 'Bangladesh',
 'Pakistan']

In [ ]:
j(df,'Host_Country',top_11)

In [ ]:
df

      Unnamed: 0   Scorecard  ... Host_Country_Bangladesh Host_Country_Pakistan
0              0     ODI # 1  ...                       0                     0
1              1     ODI # 2  ...                       0                     0
2              2     ODI # 3  ...                       0                     0
3              3     ODI # 4  ...                       0                     0
4              4     ODI # 5  ...                       0                     0
...          ...         ...  ...                     ...                   ...
7489        3747  ODI # 3931  ...                       0                     0
7490        3748  ODI # 3932  ...                       0                     0
7491        3749  ODI # 3933  ...                       0                     0
7492        3750  ODI # 3934  ...                       0                     0
7493        3749  ODI # 3935  ...                       0                     0

[7494 rows x 43 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Winner'] = le.fit_transform(df['Winner'])
df

      Unnamed: 0   Scorecard  ... Host_Country_Bangladesh Host_Country_Pakistan
0              0     ODI # 1  ...                       0                     0
1              1     ODI # 2  ...                       0                     0
2              2     ODI # 3  ...                       0                     0
3              3     ODI # 4  ...                       0                     0
4              4     ODI # 5  ...                       0                     0
...          ...         ...  ...                     ...                   ...
7489        3747  ODI # 3931  ...                       0                     0
7490        3748  ODI # 3932  ...                       0                     0
7491        3749  ODI # 3933  ...                       0                     0
7492        3750  ODI # 3934  ...                       0                     0
7493        3749  ODI # 3935  ...                       0                     0

[7494 rows x 43 columns]

In [ ]:
pd.get_dummies(df['Venue_Team1'], prefix='Venue_Team1',drop_first=True)
pd.get_dummies(df['Venue_Team2'], prefix='Venue_Team2',drop_first=True)

      Venue_Team2_Home  Venue_Team2_Neutral
0                    0                    0
1                    0                    0
2                    0                    0
3                    0                    0
4                    0                    0
...                ...                  ...
7489                 1                    0
7490                 1                    0
7491                 0                    1
7492                 0                    1
7493                 0                    1

[7494 rows x 2 columns]

In [ ]:
df

      Unnamed: 0   Scorecard  ... Host_Country_Bangladesh Host_Country_Pakistan
0              0     ODI # 1  ...                       0                     0
1              1     ODI # 2  ...                       0                     0
2              2     ODI # 3  ...                       0                     0
3              3     ODI # 4  ...                       0                     0
4              4     ODI # 5  ...                       0                     0
...          ...         ...  ...                     ...                   ...
7489        3747  ODI # 3931  ...                       0                     0
7490        3748  ODI # 3932  ...                       0                     0
7491        3749  ODI # 3933  ...                       0                     0
7492        3750  ODI # 3934  ...                       0                     0
7493        3749  ODI # 3935  ...                       0                     0

[7494 rows x 43 columns]

In [ ]:
df = pd.concat([df,pd.get_dummies(df['Venue_Team1'], prefix='Venue_Team1')],axis=1)

# now drop the original 'country' column (you don't need it anymore)
df.drop(['Venue_Team1'],axis=1, inplace=True)

In [ ]:
df = pd.concat([df,pd.get_dummies(df['Venue_Team2'], prefix='Venue_Team2')],axis=1)

# now drop the original 'country' column (you don't need it anymore)
df.drop(['Venue_Team2'],axis=1, inplace=True)

In [ ]:
df

      Unnamed: 0   Scorecard  ... Venue_Team2_Home Venue_Team2_Neutral
0              0     ODI # 1  ...                0                   0
1              1     ODI # 2  ...                0                   0
2              2     ODI # 3  ...                0                   0
3              3     ODI # 4  ...                0                   0
4              4     ODI # 5  ...                0                   0
...          ...         ...  ...              ...                 ...
7489        3747  ODI # 3931  ...                1                   0
7490        3748  ODI # 3932  ...                1                   0
7491        3749  ODI # 3933  ...                0                   1
7492        3750  ODI # 3934  ...                0                   1
7493        3749  ODI # 3935  ...                0                   1

[7494 rows x 47 columns]

In [ ]:
df['res']=df['Winner']
pd.concat([df,df['res']],axis=1)

      Unnamed: 0   Scorecard       Team 1  ... Venue_Team2_Neutral res res
0              0     ODI # 1    Australia  ...                   0   1   1
1              1     ODI # 2      England  ...                   0   6   6
2              2     ODI # 3      England  ...                   0   1   1
3              3     ODI # 4      England  ...                   0   6   6
4              4     ODI # 5  New Zealand  ...                   0  13  13
...          ...         ...          ...  ...                 ...  ..  ..
7489        3747  ODI # 3931  New Zealand  ...                   0   8   8
7490        3748  ODI # 3932  New Zealand  ...                   0   8   8
7491        3749  ODI # 3933      Namibia  ...                   1  11  11
7492        3750  ODI # 3934       U.S.A.  ...                   1  20  20
7493        3749  ODI # 3935      Namibia  ...                   1   5   5

[7494 rows x 49 columns]

In [ ]:
df.drop(['Winner'],axis=1, inplace=True)

In [ ]:
df

      Unnamed: 0   Scorecard  ... Venue_Team2_Neutral res
0              0     ODI # 1  ...                   0   1
1              1     ODI # 2  ...                   0   6
2              2     ODI # 3  ...                   0   1
3              3     ODI # 4  ...                   0   6
4              4     ODI # 5  ...                   0  13
...          ...         ...  ...                 ...  ..
7489        3747  ODI # 3931  ...                   0   8
7490        3748  ODI # 3932  ...                   0   8
7491        3749  ODI # 3933  ...                   1  11
7492        3750  ODI # 3934  ...                   1  20
7493        3749  ODI # 3935  ...                   1   5

[7494 rows x 47 columns]

In [ ]:
x = df.iloc[:,6:-1].values
y = df.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
y_pred=regressor.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

4.730444867600581

In [ ]:
from sklearn.ensemble import RandomForestRegressor
Regressor = RandomForestRegressor(random_state = 0)
Regressor.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
Y_pred=Regressor.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, Y_pred)

4.155929287870629